<div class="New-ContentDiv">
	<div class="container" *ngIf="newscontent == 'news4'">
		<div class="articleHeader" align="center">
			<br>
			<h6> Transfers </h6>
			<h1> Liverpool agree to sign Fabinho from Monaco </h1>
			<h6> 28 May 2018 </h6>
			<br>
		</div>
		<br>

		<div class="articleImage" align="center">
			<img src="assets/images/news4.png" width="800" height="533" />
		</div>

		<div >
			<br>

			<h4> 
				<b> Brazilian midfielder to join Reds for undisclosed fee as club's first summer signing ahead of the 2018/19 season </b> 
			</h4> 

			<br>

			<p> Liverpool have agreed a deal with Monaco for the transfer of Fabinho. <p>
			
			<p> The Brazilian midfielder will officially become a Liverpool player on 1 July after successfully completing a medical and finalising terms on a long-term contract. </p>

			<p> “This is something that I always wanted," the 24-year-old told the club's official website. </p>
			
			<p> "This is a giant of a team, the infrastructures of the club look exceptional." </p>
			
			<p> Fabinho will move for an undisclosed fee and is the club's first signing announced this summer. </p>
		
			<p> He is their second recruit for 2018/19, with Naby Keita to move from RB Leipzig in a deal agreed last summer. </p>

		</div>
		
	
	</div>

	<div class="container" *ngIf="newscontent == 'news1'">
		<div class="articleHeader" align="center">
			<br>
			<h6> Partners </h6>
			<h1> Nike launches Merlin ball for 2018/19 Premier League </h1>
			<h6> 31 May 2018 </h6>
			<br>
		</div>

		<br>

		<div class="articleImage" align="center">
			<img src="assets/images/news1.png" width="800" height="533" />
		</div>

		<div>
			<br>

			<h4> <b> Prepare to witness magic in the new season as Nike reveal their most technologically advanced ball yet </b> 
			</h4>
		
			<br>

			<p> Harry Kane. Raheem Sterling. Eden Hazard. These players seem to have the ball at their command. </p>
			
			<p> And in the 2018/19 Premier League, what they will be able do with it will reach a whole new level. </p>
			
			<p> Because the new Nike Merlin, the official ball for the 2018/19 Premier League, is the most advanced yet. </p>
			
			<p> Where there were once 32 panels to a ball, the new Nike Merlin will have just four, a world-first. </p>
			
			<p> Fewer panels mean fewer seams, eliminating hard spots and opening the ball up to more sweet spots for Premier League players to shoot or pass with more accuracy. </p>
			
			<p> Revolutionising the design for the 2018/19 season, Nike has integrated their All Conditions Control (ACC) technology in a football for the first time, ensuring optimal touch and control in all weather and pitch conditions. </p>
			
			<p> Debossed grooves and 3D inks in the ball will further improve its feel and aerodynamics, helping it move through the air. </p>
			
			<p> And the ball’s colours, a mix of white, black, purple, blue and yellow, will help players identify more easily which way it is spinning, when it will drop, and how fast it is travelling. </p>

			<p> This will give them crucial milliseconds to decide what magic they will apply next. </p>
			
			<p> The Merlin marks Nike's 18th season as the official supplier for the Premier League and will be used for the first time in the Premier League when the new season gets under way on the weekend of 11 August. </p>
			
			<p> You can get your hands on the Nike Merlin ball before the players as it goes on sale on Friday, 1 June. </p>

		</div>

	</div>

	<div class="container" *ngIf="newscontent == 'news2'">
		<div class="articleHeader" align="center">
			<br>
			<h6> Fantasy Premier League </h6>
			<h1> FPL rising stars: Trent Alexander-Arnold </h1>
			<h6> The Scout - 30 May 2018 </h6>
			<br>
		</div>

		<br>

		<div class="articleImage" align="center">
			<img src="assets/images/news2.png" width="800" height="533" />
		</div>

		<div>
			<br>

			<h4> 
				<b> Teenage full-back can remain a regular starter for Fantasy managers and Liverpool despite strong competition </b> 
			</h4>
			
			<br>
			
			<p id="news"> Trent Alexander-Arnold (LIV) </p>
			
			<p> The Liverpool right-back can become a Fantasy favourite. </p>
			
			<p> Priced at only £4.5m in the season just gone, Alexander-Arnold started behind Joe Gomez in the pecking order. </p>

			<p> He made only eight appearances in the first 25 Gameweeks. </p>
			
			<p> But the 19-year-old became a regular on Jurgen Klopp's teamsheet over the final few months. </p>
			
			<p> Alexander-Arnold started 10 of the final 13 Gameweeks, only missing out when rested around UEFA Champions League matches. </p>
			
			<p id="news"> Outshining Robertson </p>
			
			<p> His delivery proved a crucial weapon in Liverpool's armoury, as Klopp allowed both of his full-backs to raid forward. </p>
			
			<p> Certain statistics suggest Alexander-Arnold could be set for more points than Andrew Robertson. </p>
			
			<p> The right-back bettered the left-back for successful crosses, by 17 to 11, and chances created, 25 to 24, despite playing fewer minutes. </p>
			
			<p> Alexander-Arnold's stock was also boosted by being given a share of set-piece duties. </p>
			
			<p id="news"> Liverpool full-backs in 2017/18 </p>

			<table class="table table-striped">
				<thead>
					<tr id="headerRow">
						<th>  </th>
						<th> Alexander-Arnold </th>
						<th> Robertson </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th> Mins/shot </th>
						<td> 131.3 </td>
						<td> 161.9 </td>
					</tr>
					<tr>
						<th> Mins/chance created </th>
						<td> 65.6 </td>
						<td> 81.0 </td>
					</tr>
					<tr>
						<th> Mins/successful cross </th>
						<td> 92.6 </td>
						<td> 176.6 </td>
					</tr>
				</tbody>
			</table>

			<p> Liverpool's improved resilience since the arrival of Virgil van Dijk is another major factor in his favour. </p>
			
			<p> From the point of the centre-back's debut in Gameweek 24, their eight clean sheets were more than any other side. </p>
			
			<p> Alexander-Arnold's potential to produce goals and assists, as well as points from clean sheets, helped him average 4.4 points per match. </p>
			
			<p> However, his ownership in FPL peaked at a modest 327,000 in Gameweek 38. </p>
			
			<p id="news"> Triple competition </p>
			
			<p> The teenager will have increased competition for a starting spot in the upcoming season. </p>
			
			<p> He will battle with Gomez, the fit-again Nathaniel Clyne and perhaps even new signing Fabinho. </p>
			
			<p> But Alexander-Arnold has the talent to rise above that challenge to play a more significant role in Fantasy in 2018/19. </p>

		</div>

	</div>

	<div  class="container" *ngIf="newscontent == 'news3'">
		<div class="articleHeader" align="center">
			<br>
			<h6> Talking Tactics </h6>
			<h1> Tactical review: Tackles on the decline </h1>
			<h6> Adrian Clarke - 29 May 2018 </h6>
			<br>
		</div>

		<br>

		<div class="articleImage" align="center">
			<img src="assets/images/news3.png" width="800" height="533" />
		</div>

		<div>
			<br>

			<h4> <b> Premier League teams are changing the way in which they defend out of possession, writes Adrian Clarke </b> 
			</h4>

			<br>

			<p id="news"> Less aggression </p>
			
			<p> "I am not a coach for the tackles so I don't train the tackles," Manchester City manager Pep Guardiola said in 2016, and it seems to be true not just of his team. </p>
			
			<p> Premier League players have become less aggressive in the way they win back the ball. </p>

			<p>cFor the second season in a row we witnessed a steep decline in the number of tackles attempted to a record low in 2017/18. </p>
			
			<p id="news"> All-time low </p>

			<p> The total of 12,468 tackles made in 2017/18 was 2,261 lower than the tally in 2015/16, a drop of more than 15 per cent. </p>

			<p> In 2015/16, there were 38.8 tackles a match, a level that had stayed consistent for five consecutive years. </p>
			
			<p> That five-year average has now dipped to 34.6 tackles, and across 2017/18 the figure fell even further to 32.8 per match. </p>
			
			<p id="news"> The decline in tackling </p>

			<table class="table table-striped">
				<thead>
					<tr id="headerRow">
						<th>  </th>
						<th> 2015/16 </th>
						<th> 2016/17 </th>
						<th> 2017/18 </th>
						<th> High </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th> Tackles </th>
						<td> 14,729 </td>
						<td> 13,138	 </td>
						<td> 12,468 </td>
						<td> 18,050 (06/07) </td>
					</tr>
					<tr>
						<th> Fouls </th>
						<td> 8,195	 </td>
						<td> 8,650 </td>
						<td> 7,869 </td>
						<td> 10,886 (05/06) </td>
					</tr>
					<tr>
						<th> Red cards </th>
						<td> 59 </td>
						<td> 41 </td>
						<td> 39 </td>
						<td> 73 (05/06) </td>
					</tr>
				</tbody>
			</table>			

			<p id="news"> Why have they dipped? </p>
			
			<p> While the number of dribbles attempted dropped for the second straight season, that is not the main reason of the shift. </p>
	
			<p> The season just gone was in fact the fifth highest on record for forwards running at defenders. </p>
			
			<p id="news"> Protecting space </p>
			
			<p> To find answers we should look to the increasing number of managers who instruct their players to retain their defensive shape and discipline. </p>
			
			<p> Most teams now focus on the protection of space, allowing their opponents to have the ball in front of them, rather than diving in. </p>
			
			<p> These tactics have led to the fewest fouls and red cards in a Premier League season and it influenced the season’s record high number of passes. </p>
			
			<p id="news"> Staying on their feet </p>
			
			<p> Defenders have also changed their attitude, possibly at the request of their managers. </p>

			<p> They have become less confrontational and more determined to stay on their feet. </p>
			
			<p> As a result, only seven defenders made the top 50 list for fouls made in 2017/18. </p>
			
			<p> Comparing figures with the previous season, a shift has taken place. </p>
			
			<p> By the end of 2016/17 15 defenders had committed 35 fouls or more. In 2017/18, that number was more than halved to seven. </p>
			
			<p id="news"> Fouls by defenders </p>

			<table class="table table-striped">
				<thead>
					<tr id="headerRow">
						<th> Players </th>
						<th> Club </th>
						<th> Total </th>
						<th> PL rank </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th> Erik Pieters </th>
						<td> STK </td>
						<td> 58 </td>
						<td> 4 </td>
					</tr>
					<tr>
						<th> Zanka </th>
						<td> HUD </td>
						<td> 45 </td>
						<td> 15 </td>
					</tr>
					<tr>
						<th> Antonio Valencia </th>
						<td> MUN </td>
						<td> 38 </td>
						<td> 37 </td>
					</tr>
					<tr>
						<th> Jose Holebas </th>
						<td> WAT </td>
						<td> 37 </td>
						<td> 41 </td>
					</tr>
					<tr>
						<th> Hector Bellerin </th>
						<td> ARS </td>
						<td> 36 </td>
						<td> 45 </td>
					</tr>
					<tr>
						<th> Lewis Dunk </th>
						<td> BHA </td>
						<td> 36 </td>
						<td> 45 </td>
					</tr>
					<tr>
						<th> Craig Dawson </th>
						<td> WBA </td>
						<td> 35 </td>
						<td> 48 </td>
					</tr>
				</tbody>
			</table>

			<p> Will this pattern continue in 2018/19? </p>
	
			<p> It depends if more managers opt to press the opposition with more aggression and higher up the pitch. </p>
			
			<p> The art of ball winning could become a more important ingredient of the game again. </p>

		</div>
	</div>
	
	<div class="container" *ngIf="newscontent == 'news5'">
		<div class="articleHeader" align="center">
			<br>
			<h6> Fantasy Premier League </h6>
			<h1> FPL Lessons: Can Perez save the 3-4-3? </h1>
			<h6> The Scout - 26 May 2018 </h6>
			<br>
		</div>

		<br>

		<div class="articleImage" align="center">
			<img src="assets/images/news5.png" width="800" height="533" />
		</div>

		<div>
			
			<br>

			<h4> <b> Newcastle star offered cheap points but a lack of other budget forwards could mean 2018/19 managers ditch three-man attacks </b> 
			</h4>

			<br>

			<p id="news"> Forwards </p>

			<p> A late flurry of points from Ayoze Perez have put FPL managers on alert for the upcoming season. </p>

			<p> The Newcastle United striker supplied six goals and two assists over the final eight Gameweeks. </p>

			<p> He averaged an impressive 6.8 points per match in that spell. </p>

			<p> Starting the season priced at £5.5m, Perez ended the campaign as the top-value forward. His 22.5 points per million were better than any other striker. </p>
			
			<p id="news"> The search for value </p>

			<p> Perez found the net only twice over the first 30 Gameweeks. </p>

			<p> And 53 other players bettered his total of 124 points. </p>

			<p> Reliable cut-price forwards who offered consistent points were difficult to find. </p>

			<p id="news"> Lack of Llorente </p>

			<p> In 2016/17, Fernando Llorente was the top-value forward with 146 points. He scored 15 goals in his debut season for Swansea City. </p>

			<p> Because Llorente signed for Tottenham Hotspur last summer, FPL managers pinned early-season hopes on his replacement at Swansea, Tammy Abraham. </p>

			<p> After scoring twice against Huddersfield Town in Gameweek 8, Abraham was bought by 291,155 for Gameweek 9. A further 215,000 transferred him in for Gameweek 11. </p>
			
			<p> But Abraham scored only one more goal from that point on, returning a mere five for the season. </p>

			<p> Only one of the nine forwards to score more than 10 goals this season started at a price of less than £8.5m. </p>

			<p> That was Glenn Murray, who began at £6.0m and returned 12 goals for Brighton & Hove Albion. </p>

			<p id="news"> A change in tactics? </p>

			<p> Buying an in-form, inexpensive striker allows managers to free up funds for big spends in attack. </p>
			
			<p> But a lack of reliable options could force managers to reconsider their tactics. </p>

			<p> The 3-4-3 formation was previously the most popular formation in FPL. </p>

			<p> But nine midfielders and 10 defenders bettered Perez for value. </p>

			<p> It could mean a switch to 3-5-2 or 4-4-2 for many managers next season. </p>

		</div>
	</div>

</div>