<div class="container">
	<div class="row">
		
		<div class="col-sm-6" id="news4" routerLink="/newscontent/news4">
			<div class="row">
				<img src="assets/images/news4.png" width="570" height="380" align="center" />
			</div>
			<div class="row">
				<figcaption class="cap"> Liverpool agree to sign Fabinho from Monaco </figcaption>
			</div>
		</div>
		
		<div class="col-sm-6" id="news1" routerLink="/newscontent/news1">
			<div class="row">
				<img src="assets/images/news1.png" width="570" height="380" align="center" />
			</div>
			<div class="row">
				<figcaption class="cap"> Nike launches Merlin ball for 2018/19 Premier League </figcaption>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-4" id="news2" routerLink="/newscontent/news2">
			<div class="row">
				<img src="assets/images/news2.png" width="380" height="245" align="center" />
			</div>
			<div class="row">
				<figcaption class="cap"> FPL rising stars: Trent Alexander-Arnold </figcaption>
			</div>
		</div>

		<div class="col-sm-4" id="news3" routerLink="/newscontent/news3">
			<div class="row">
				<img src="assets/images/news3.png" width="380" height="245" align="center" />
			</div>
			<div class="row">
				<figcaption class="cap"> Tactical review: Tackles on the decline </figcaption>
			</div>
		</div>

		<div class="col-sm-4" id="news5" routerLink="/newscontent/news5">
			<div class="row">
				<img src="assets/images/news5.png" width="380" height="245" align="center" />
			</div>
			<div class="row">
				<figcaption class="cap"> FPL Lessons: Can Perez save the 3-4-3? </figcaption>
			</div>
		</div>
	</div>
	<br>
</div>