<table border="solid 1px black">
    <thead>
        <th>#</th>
        <th>Team</th>
        <th>P</th>
        <th>GD</th>
        <th>PTS</th>
    </thead>
    
    <tbody >
     <tr *ngFor = "let team of teams?.standing|slice:0:10">
        <td>{{team.position}}</td>
        <td><img src ="{{team.crestURI}}" width = "30" height = "30" style = "margin-right : 5px"/>{{team.teamName}}</td>
        <td>{{team.playedGames}}</td>
        <td>{{team.goalDifference}}</td>
        <td>{{team.points}}</td>
     </tr>
     <tr>
         <td colspan="5"><a routerLink="/Table">View Table</a></td><!--<a [routerLink]="[{ outlets: { LT: ['Table'] } }]">View Table</a>-->
     </tr>
    </tbody>
    
</table>

 